.App {
  text-align: center;
  font-size: calc(10px + 1.5vmin);
}

.App-logo  {
  height: 100px;
  width: 100px;
}

nav, .App-link {
  color: #61dafb;
}

.App-header {
  padding: 0 40px;
  background: #eee;
  min-height: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: #000;
}

.App-main {
  min-height: 300px;
  height: calc(100vh - 200px);
  justify-content: center;
  display: flex;
  align-items: center;
}
.App-main div {
  border: 1px solid black;
  padding: 40px;
}

.App-footer {
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center; 
}